* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
      --primary-color: gray;
      --border-color: blue;
      --text-colot: cyan; 
  }

  body {
      color: var(--primary-color);
      font-family: Helvetica, Arial, sans-serif;
  }

  header {
      display: flex;
      flex-wrap: wrap;
      max-width: 1500px;
      border: 2px solid black;
      
  }

  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
      padding: 1px 20px;
  }

  header nav ul li a {
    padding: 1px 15px;
    border: 2px solid var(--border-color);
  }
  
  .container {
    border: 2px solid blanchedalmond;
    color: var(--text-colot);
    background-color: var(--primary-color);
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
  
 .container h2{
    border: 3px solid var(--border-color);
    height: inherit;
  }

.side {
  width:150px;
  height: inherit;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}

.intro img {
  height: 200px;
  margin: 20px;
  justify-self: left;
}

.intro p{
  width: 600px;
  color: cyan;
  justify-self: center;
}

.about-item{
  margin: 20px;
  width: 600px;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.about img{
  height:400px;
}

.work{
  justify-content: left;
}

.work-item {
 margin: 20px;
}

.work-item ul {
  margin: auto 40px;
 }

 .project-content {
   display: flex;
   flex-wrap: wrap;
 }

 #p1 img{
   height: 400px;
 }

 .project-item img{
   height: 200px;
 }

 .sub-project {
   display: flex;
   flex-wrap: wrap;
 }
.contacts{
  justify-content: left;
}

.contacts div {
  margin: 20px;
}
footer{
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  border: 2px solid black;
}

