* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
      --primary-color: gray;
      --border-color: blue;
  }

  body {
      color: var(--primary-color);
      font-family: Helvetica, Arial, sans-serif;
  }

  header {
      display: flex;
      flex-wrap: wrap;
      max-width: 1500px;
      border: 2px solid red;
  }

  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
      padding: 1px 20px;
  }

  header nav ul li a {
    padding: 1px 15px;
    border: 2px solid var(--border-color);
  }
  
  .container {
    background-color: var(--primary-color);
  }
  
 .container h2{
    border: 3px solid var(--border-color);
  }

  .container h2 {
      color:cyan
  }

.intro {
  display: flex;
  
}

.intro img {
  height: 200px;
}

intro p{
  color: cyan;
}